@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">MVC com ASP.NET!</h1>
        <p class="lead">Este site foi realizado usando MVC com ASP.NET!</p>
    </section>
</main>